body {
  margin: auto;
  max-width: 2000px;
  scroll-behavior: smooth;
  background: url(../images/forest.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
  max-height: 100vh;
  height: 100%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

main > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

main > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

main > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

main > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

main > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

main > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

main > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

main > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

main > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}

main > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

main > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

main > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

main > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

main > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

main > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

main > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

main > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

main > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

main > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}

main > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}

main > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}

main > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

main > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

main > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

main > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

main > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

main > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

main > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

main > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

main > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

main > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
}

main > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 21;
}

main > *:nth-child(36) {
  -ms-grid-row: 5;
  -ms-grid-column: 23;
}

main > *:nth-child(37) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

main > *:nth-child(38) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

main > *:nth-child(39) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

main > *:nth-child(40) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

main > *:nth-child(41) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}

main > *:nth-child(42) {
  -ms-grid-row: 7;
  -ms-grid-column: 11;
}

main > *:nth-child(43) {
  -ms-grid-row: 7;
  -ms-grid-column: 13;
}

main > *:nth-child(44) {
  -ms-grid-row: 7;
  -ms-grid-column: 15;
}

main > *:nth-child(45) {
  -ms-grid-row: 7;
  -ms-grid-column: 17;
}

main > *:nth-child(46) {
  -ms-grid-row: 7;
  -ms-grid-column: 19;
}

main > *:nth-child(47) {
  -ms-grid-row: 7;
  -ms-grid-column: 21;
}

main > *:nth-child(48) {
  -ms-grid-row: 7;
  -ms-grid-column: 23;
}

main > *:nth-child(49) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

main > *:nth-child(50) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

main > *:nth-child(51) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

main > *:nth-child(52) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}

main > *:nth-child(53) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}

main > *:nth-child(54) {
  -ms-grid-row: 9;
  -ms-grid-column: 11;
}

main > *:nth-child(55) {
  -ms-grid-row: 9;
  -ms-grid-column: 13;
}

main > *:nth-child(56) {
  -ms-grid-row: 9;
  -ms-grid-column: 15;
}

main > *:nth-child(57) {
  -ms-grid-row: 9;
  -ms-grid-column: 17;
}

main > *:nth-child(58) {
  -ms-grid-row: 9;
  -ms-grid-column: 19;
}

main > *:nth-child(59) {
  -ms-grid-row: 9;
  -ms-grid-column: 21;
}

main > *:nth-child(60) {
  -ms-grid-row: 9;
  -ms-grid-column: 23;
}

main > *:nth-child(61) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}

main > *:nth-child(62) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}

main > *:nth-child(63) {
  -ms-grid-row: 11;
  -ms-grid-column: 5;
}

main > *:nth-child(64) {
  -ms-grid-row: 11;
  -ms-grid-column: 7;
}

main > *:nth-child(65) {
  -ms-grid-row: 11;
  -ms-grid-column: 9;
}

main > *:nth-child(66) {
  -ms-grid-row: 11;
  -ms-grid-column: 11;
}

main > *:nth-child(67) {
  -ms-grid-row: 11;
  -ms-grid-column: 13;
}

main > *:nth-child(68) {
  -ms-grid-row: 11;
  -ms-grid-column: 15;
}

main > *:nth-child(69) {
  -ms-grid-row: 11;
  -ms-grid-column: 17;
}

main > *:nth-child(70) {
  -ms-grid-row: 11;
  -ms-grid-column: 19;
}

main > *:nth-child(71) {
  -ms-grid-row: 11;
  -ms-grid-column: 21;
}

main > *:nth-child(72) {
  -ms-grid-row: 11;
  -ms-grid-column: 23;
}

main > *:nth-child(73) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}

main > *:nth-child(74) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}

main > *:nth-child(75) {
  -ms-grid-row: 13;
  -ms-grid-column: 5;
}

main > *:nth-child(76) {
  -ms-grid-row: 13;
  -ms-grid-column: 7;
}

main > *:nth-child(77) {
  -ms-grid-row: 13;
  -ms-grid-column: 9;
}

main > *:nth-child(78) {
  -ms-grid-row: 13;
  -ms-grid-column: 11;
}

main > *:nth-child(79) {
  -ms-grid-row: 13;
  -ms-grid-column: 13;
}

main > *:nth-child(80) {
  -ms-grid-row: 13;
  -ms-grid-column: 15;
}

main > *:nth-child(81) {
  -ms-grid-row: 13;
  -ms-grid-column: 17;
}

main > *:nth-child(82) {
  -ms-grid-row: 13;
  -ms-grid-column: 19;
}

main > *:nth-child(83) {
  -ms-grid-row: 13;
  -ms-grid-column: 21;
}

main > *:nth-child(84) {
  -ms-grid-row: 13;
  -ms-grid-column: 23;
}

main > *:nth-child(85) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}

main > *:nth-child(86) {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
}

main > *:nth-child(87) {
  -ms-grid-row: 15;
  -ms-grid-column: 5;
}

main > *:nth-child(88) {
  -ms-grid-row: 15;
  -ms-grid-column: 7;
}

main > *:nth-child(89) {
  -ms-grid-row: 15;
  -ms-grid-column: 9;
}

main > *:nth-child(90) {
  -ms-grid-row: 15;
  -ms-grid-column: 11;
}

main > *:nth-child(91) {
  -ms-grid-row: 15;
  -ms-grid-column: 13;
}

main > *:nth-child(92) {
  -ms-grid-row: 15;
  -ms-grid-column: 15;
}

main > *:nth-child(93) {
  -ms-grid-row: 15;
  -ms-grid-column: 17;
}

main > *:nth-child(94) {
  -ms-grid-row: 15;
  -ms-grid-column: 19;
}

main > *:nth-child(95) {
  -ms-grid-row: 15;
  -ms-grid-column: 21;
}

main > *:nth-child(96) {
  -ms-grid-row: 15;
  -ms-grid-column: 23;
}

main > *:nth-child(97) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}

main > *:nth-child(98) {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
}

main > *:nth-child(99) {
  -ms-grid-row: 17;
  -ms-grid-column: 5;
}

main > *:nth-child(100) {
  -ms-grid-row: 17;
  -ms-grid-column: 7;
}

main > *:nth-child(101) {
  -ms-grid-row: 17;
  -ms-grid-column: 9;
}

main > *:nth-child(102) {
  -ms-grid-row: 17;
  -ms-grid-column: 11;
}

main > *:nth-child(103) {
  -ms-grid-row: 17;
  -ms-grid-column: 13;
}

main > *:nth-child(104) {
  -ms-grid-row: 17;
  -ms-grid-column: 15;
}

main > *:nth-child(105) {
  -ms-grid-row: 17;
  -ms-grid-column: 17;
}

main > *:nth-child(106) {
  -ms-grid-row: 17;
  -ms-grid-column: 19;
}

main > *:nth-child(107) {
  -ms-grid-row: 17;
  -ms-grid-column: 21;
}

main > *:nth-child(108) {
  -ms-grid-row: 17;
  -ms-grid-column: 23;
}

main > *:nth-child(109) {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
}

main > *:nth-child(110) {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
}

main > *:nth-child(111) {
  -ms-grid-row: 19;
  -ms-grid-column: 5;
}

main > *:nth-child(112) {
  -ms-grid-row: 19;
  -ms-grid-column: 7;
}

main > *:nth-child(113) {
  -ms-grid-row: 19;
  -ms-grid-column: 9;
}

main > *:nth-child(114) {
  -ms-grid-row: 19;
  -ms-grid-column: 11;
}

main > *:nth-child(115) {
  -ms-grid-row: 19;
  -ms-grid-column: 13;
}

main > *:nth-child(116) {
  -ms-grid-row: 19;
  -ms-grid-column: 15;
}

main > *:nth-child(117) {
  -ms-grid-row: 19;
  -ms-grid-column: 17;
}

main > *:nth-child(118) {
  -ms-grid-row: 19;
  -ms-grid-column: 19;
}

main > *:nth-child(119) {
  -ms-grid-row: 19;
  -ms-grid-column: 21;
}

main > *:nth-child(120) {
  -ms-grid-row: 19;
  -ms-grid-column: 23;
}

main > *:nth-child(121) {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
}

main > *:nth-child(122) {
  -ms-grid-row: 21;
  -ms-grid-column: 3;
}

main > *:nth-child(123) {
  -ms-grid-row: 21;
  -ms-grid-column: 5;
}

main > *:nth-child(124) {
  -ms-grid-row: 21;
  -ms-grid-column: 7;
}

main > *:nth-child(125) {
  -ms-grid-row: 21;
  -ms-grid-column: 9;
}

main > *:nth-child(126) {
  -ms-grid-row: 21;
  -ms-grid-column: 11;
}

main > *:nth-child(127) {
  -ms-grid-row: 21;
  -ms-grid-column: 13;
}

main > *:nth-child(128) {
  -ms-grid-row: 21;
  -ms-grid-column: 15;
}

main > *:nth-child(129) {
  -ms-grid-row: 21;
  -ms-grid-column: 17;
}

main > *:nth-child(130) {
  -ms-grid-row: 21;
  -ms-grid-column: 19;
}

main > *:nth-child(131) {
  -ms-grid-row: 21;
  -ms-grid-column: 21;
}

main > *:nth-child(132) {
  -ms-grid-row: 21;
  -ms-grid-column: 23;
}

main > *:nth-child(133) {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
}

main > *:nth-child(134) {
  -ms-grid-row: 23;
  -ms-grid-column: 3;
}

main > *:nth-child(135) {
  -ms-grid-row: 23;
  -ms-grid-column: 5;
}

main > *:nth-child(136) {
  -ms-grid-row: 23;
  -ms-grid-column: 7;
}

main > *:nth-child(137) {
  -ms-grid-row: 23;
  -ms-grid-column: 9;
}

main > *:nth-child(138) {
  -ms-grid-row: 23;
  -ms-grid-column: 11;
}

main > *:nth-child(139) {
  -ms-grid-row: 23;
  -ms-grid-column: 13;
}

main > *:nth-child(140) {
  -ms-grid-row: 23;
  -ms-grid-column: 15;
}

main > *:nth-child(141) {
  -ms-grid-row: 23;
  -ms-grid-column: 17;
}

main > *:nth-child(142) {
  -ms-grid-row: 23;
  -ms-grid-column: 19;
}

main > *:nth-child(143) {
  -ms-grid-row: 23;
  -ms-grid-column: 21;
}

main > *:nth-child(144) {
  -ms-grid-row: 23;
  -ms-grid-column: 23;
}

h1, h2, h3, h4, h5, a {
  font-family: "Merienda", cursive;
  color: #143823;
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #F7F3E0;
  letter-spacing: 1px;
  line-height: 24px;
  /*margin-top: 0;
  margin-bottom: 0;*/
  padding: 10px;
}

a {
  font-size: 16px;
  -webkit-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
  text-decoration: none;
  color: #6D8869;
}

a:hover {
  font-size: 18px;
  color: #143823;
}

.fa-linkedin-in, .fa-github {
  color: #6D8869;
  font-size: 36px;
  text-align: left;
  -webkit-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.fa-linkedin-in:hover, .fa-github:hover {
  color: #143823;
  font-size: 38px;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #081C15;
  opacity: 0.9;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #F7F3E0;
  opacity: 0.7;
  padding: 10px 15px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Merienda", cursive;
  border-radius: 10px 10px 10px 10px;
  margin-left: 20px;
  color: #6D8869;
  font-size: 36px;
}

.openbtn:hover {
  background-color: #F7F3E0;
  color: #081C15;
}

#myBtn {
  background-color: #6D8869;
  font-family: "Merienda", cursive;
  color: #F7F3E0;
  cursor: pointer;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  width: 240px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  border: none;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

#myBtn:hover {
  background-color: #6D8869;
  color: #1B4332;
  -webkit-box-shadow: 2px 2px #1B4332;
          box-shadow: 2px 2px #1B4332;
}

#myBtn:focus {
  background-color: #6D8869;
  color: #F7F3E0;
  -webkit-box-shadow: 3px 3px #A5B289;
          box-shadow: 3px 3px #A5B289;
  border-radius: 10px 10px 10px 10px;
}

.modal {
  background-image: url(../images/forest.jpg);
  opacity: 0.9;
  border-radius: 40px;
  padding: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #081C15;
  margin: auto;
  padding: 30px;
  border: 1px solid #A5B289;
  width: 90%;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#home-headline {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-headline {
  margin-bottom: 10px;
}

#profile-picture {
  border-radius: 40px;
  max-width: 30%;
  max-height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  /*float: right;*/
  padding: 10px;
}

.close {
  float: right;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  color: #F7F3E0;
}

.close:hover, .close:focus {
  color: #6D8869;
  text-decoration: none;
  cursor: pointer;
}